<!DOCTYPE HTML>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>

<body>
  <header id="header" class="inner"><%- partial('_partial/header') %></header>
  <!-- ad start -->
  <%- partial('_custom_ad/google_adsense') %>
  <!-- ad end -->
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper"><%- body %></div></div>
    <aside id="sidebar" class="alignright"><%- partial('_partial/sidebar', {}, {cache: true}) %></aside>
    <div class="clearfix"></div>
  </div>
  <!-- ad start -->
  <%- partial('_custom_ad/google_adsense') %>
  <!-- ad end -->
  <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
